<mat-card class="card">
  <mat-card-title class="card-title">
    {{ university.name }}
  </mat-card-title>

  <mat-card-content class="card-content">
    <p>
      <strong>País:</strong> {{ university.country }} - {{ university.alpha_two_code }}
    </p>

    <p>
      <strong>Província:</strong>
      {{ university.state_province ? university.state_province : 'Não informada' }}
    </p>

    <p>
      <strong>Domínios:</strong> {{ university.domains.join(', ') }}
    </p>

    <ng-container *ngIf="university?.web_pages?.length; else absentLink">
      <p>
        <strong>Websites:</strong>
        <ul>
          <li *ngFor="let url of university.web_pages">
            <a [href]="url" target="_blank" rel="noopener noreferrer">{{ url }}</a>
          </li>
        </ul>
    </ng-container>

    <ng-template #absentLink>
      <p><strong>Website:</strong> Ausente</p>
    </ng-template>
  </mat-card-content>
</mat-card>
