<div class="search-wrapper">
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Buscar universidade</mat-label>
    <input matInput [(ngModel)]="search" (input)="onSearchChange()" />
    <button mat-icon-button matSuffix disabled>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="card-container">
  <mat-card class="card" *ngFor="let uni of filtered">
    <mat-card-title class="card-title">{{ uni.name }}</mat-card-title>
    <mat-card-content>
      {{ uni.country }}
      <img *ngIf="uni.country === 'Brazil'" 
           src="https://flagcdn.com/w40/br.png" 
           alt="Bandeira do Brasil" 
           width="20" 
           height="15"
           style="margin-left: 8px;" />
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="viewDetail(uni)">Ver detalhes</button>
    </mat-card-actions>
  </mat-card>
</div>
